
* {
    font-family: 'Roboto' , sans-serif;
}

@import "../Sass/bases/mixins";
@import "../Sass/bases/variables";



.main-container {
    width: 100%;
    box-sizing: border-box;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    margin: 5%;
     img {
        object-fit: cover;
    }
}

// header
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div {
        width: 100%;
        text-align: center;
        position: relative;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    img {
        width: 197px;
        height: 36px;
        padding-bottom: 13px;
        padding-top: 14px;
    }
    button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px;
    }
    p {
        padding-left: 17px;
        font-size: 18px;
        font-weight: 500;
        color: #353535;
    }
}

// search
#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 50px;
    
    h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0px;
        margin-top: 30px;
        padding-bottom: 15px;
        padding-left: 45px;
        padding-right: 45px;
    }
    h2 {
        font-size: 19px;
        font-weight: 300;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    button {
        @include hovbutton;
        padding: 13px 19px;
    }
}

// fonction
#fonction {
    margin-bottom: 40px;
    h2 {
        font-size: 24px;
        font-weight: 700;
        padding: 40px 20px 20px 20px;
    
    }
    ol {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
        text-align: center;
        flex-wrap: wrap;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        background-color: #F6F6F6;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        padding: 20px 15px;
        font-size: 16px;
        font-weight: 500;
        list-style-type: none;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
    }
    li i {
        color: #7E7E7E;
        padding-right: 15px;
    }
    li .store {
        color: $main-color;
    }
}
.fonction__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -2%;
    border-radius: 50%;
    background-color: $main-color;
    color: white;
    padding: 2px 6px;
}

// restaurant
#restaurant {
    background-color: #F6F6F6;
    padding-bottom: 50px;
    a{
        text-decoration: none;
        color: black;
    }
    h2  {
        font-size: 24px;
        font-weight: 700;
        padding: 50px 20px 0px 20px;
    }
}

// restaurant cards
.card img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card   {
    position: relative;
    margin: 20px 20px;
    p   {
        position: absolute;
        left: 80%;
        top: 5%;
        background: $tertiary-color;
        padding: 5px 5px;
        font-size: 14px;
        font-weight: 500;
        color: #008766;
        border-radius: 2px;
    }
    &__content{
        display: flex;
        &__text    {
            display: flex;
            flex-direction: column;
            width: 65%;
            padding-left: 20px;
            padding-top: 10px; 
            &__title {
            font-weight: 700;
            font-size: 18px;   
            }
            &__subtitle  {
                font-size: 17px;
                padding-bottom: 20px;
            }
        }
        &__heart   {
            width: 32%;
            display:flex ;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            padding-bottom: 15px; 
            @include hovheart;
            
        }
    }
}

// footer
footer {
    @include mixfooter;
}



@media (min-width: 1024px)  {
header img{
    padding: 20px 0px;
}
#search h1 {
    font-size: 40px;
}
#fonction {
    padding-left: 180px;
    padding-right: 180px;
    h2{
        padding-left: 0;
    }
    ol{
    flex-wrap: nowrap;
    gap: 25px;
    }
    li{
        position: relative;
        margin: 0;
        padding: 20px 13px;
        i{
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}
#restaurant {
    padding-left: 180px;
    padding-right: 180px;
    
    h2  {
        padding: 50px 20px 0px 0px;
    }
    a   {
        width: 47%;
    }
}
.restaurant-card    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6%;
}
.card   {
    width: 100%;
    margin: 20px 0px;
}
footer  {
    @include mixfooterdesktop;
}


}

