* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 5%;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header div {
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header img {
  width: 197px;
  height: 36px;
  padding-bottom: 13px;
  padding-top: 14px;
}
header #location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
header p {
  padding-left: 17px;
  font-size: 18px;
  font-weight: 500;
  color: #353535;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
#search h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 30px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
}
#search h2 {
  font-size: 19px;
  font-weight: 300;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
#search button {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 400ms ease-in-out, background 350ms 150ms ease-in-out;
  padding: 13px 19px;
}
#search button:hover {
  transform: scale(1.03);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32);
}

#fonction {
  margin-bottom: 40px;
}
#fonction h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 40px 20px 20px 20px;
}
#fonction ol {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  text-align: center;
  flex-wrap: wrap;
}
#fonction li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
#fonction li i {
  color: #7E7E7E;
  padding-right: 15px;
}
#fonction li .store {
  color: #9356DC;
}

.fonction__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -2%;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  padding: 2px 6px;
}

#restaurant {
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
#restaurant a {
  text-decoration: none;
  color: black;
}
#restaurant h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 50px 20px 0px 20px;
}

.card img {
  width: 100%;
  height: 230px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  position: relative;
  margin: 20px 20px;
}
.card p {
  position: absolute;
  left: 80%;
  top: 5%;
  background: #99E2D0;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  border-radius: 2px;
}
.card__content {
  display: flex;
}
.card__content__text {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-left: 20px;
  padding-top: 10px;
}
.card__content__text__title {
  font-weight: 700;
  font-size: 18px;
}
.card__content__text__subtitle {
  font-size: 17px;
  padding-bottom: 20px;
}
.card__content__heart {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding-bottom: 15px;
}
.card__content__heart__full {
  display: none;
}
.card__content__heart:hover .card__content__heart__empty {
  display: none;
}
.card__content__heart:hover .card__content__heart__full {
  display: flex;
  color: transparent;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  animation: heartanimate 0.9s forwards;
}

@keyframes heartanimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  background-color: #353535;
  padding-left: 25px;
  color: white;
}
footer .footer {
  padding-left: 0px;
  padding-bottom: 15px;
}
footer .footer__title {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
}
footer .footer__a {
  padding-bottom: 10px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}
footer .footer__a a {
  text-decoration: none;
  color: white;
}
footer .footer__icone {
  padding-right: 10px;
}
footer .footer__400 {
  font-weight: 400;
}
footer .fa-utensils {
  padding-right: 16px;
}

.loader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #F6F6F6;
  z-index: 1;
  height: 100vh;
  opacity: 1;
  animation: loaderdisappear 0.7s 2.5s, loaderscale 0.5s 3s;
  animation-fill-mode: forwards;
}
.loader__ball {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  animation: bounce 0.9s 1s infinite;
}
.loader__ball2 {
  display: none;
}
.loader__ball3 {
  display: none;
}

@media (min-width: 1024px) {
  header img {
    padding: 20px 0px;
  }
  #search h1 {
    font-size: 40px;
  }
  #fonction {
    padding-left: 180px;
    padding-right: 180px;
  }
  #fonction h2 {
    padding-left: 0;
  }
  #fonction ol {
    flex-wrap: nowrap;
    gap: 25px;
  }
  #fonction li {
    position: relative;
    margin: 0;
    padding: 20px 13px;
  }
  #fonction li i {
    padding-right: 10px;
    padding-left: 10px;
  }
  #restaurant {
    padding-left: 180px;
    padding-right: 180px;
  }
  #restaurant h2 {
    padding: 50px 20px 0px 0px;
  }
  #restaurant a {
    width: 47%;
  }
  .restaurant-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6%;
  }
  .card {
    width: 100%;
    margin: 20px 0px;
  }
  footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  footer .footer {
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
  footer .footer__a {
    padding: 60px 5px 10px 5px;
  }
  footer .footer__padl {
    padding-left: 50px;
  }
  footer .footer__padr {
    padding-right: 90px;
  }
  footer .footer__titlesite {
    padding-right: 5%;
    padding-bottom: 10px;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .loader__ball2 {
    display: flex;
    background: #99E2D0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: bounce 0.9s 1.2s infinite;
  }
  .loader__ball3 {
    display: flex;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: bounce 0.9s 1s infinite;
  }
}
@keyframes loaderdisappear {
  to {
    opacity: 0;
  }
}
@keyframes loaderscale {
  to {
    transform: scale(0);
  }
}
@keyframes bounce {
  10% {
    height: 50px;
    width: 50px;
  }
  30% {
    height: 50px;
    width: 40px;
  }
  50% {
    height: 30px;
    width: 57px;
    transform: translateY(240px);
  }
  75% {
    height: 50px;
    width: 57px;
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */