* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

*, ::before, ::after {
  margin: 0;
  padding: o;
}

header div {
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  display: flex;
}
header img {
  width: 197px;
  height: 36px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
}
header a {
  position: absolute;
  left: 3%;
  text-decoration: none;
  color: black;
}

.imgtop {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.menu {
  position: relative;
  background-color: #F6F6F6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -35px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.menu__title {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.menu h1 {
  font-family: shrikhand;
  font-weight: 400;
  font-size: 28px;
}
.menu .card__content__heart {
  padding-left: 10%;
  font-size: 25px;
}
.menu .card__content__heart__full {
  display: none;
}
.menu .card__content__heart:hover .card__content__heart__empty {
  display: none;
}
.menu .card__content__heart:hover .card__content__heart__full {
  display: flex;
  color: transparent;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  animation: heartanimate 1s forwards;
}
@keyframes heartanimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu h2 {
  font-weight: 300;
  font-size: 16px;
  padding-top: 40px;
}
.menu hr {
  height: 2px;
  width: 40px;
  border: none;
  background-color: #99E2D0;
  margin-top: 5px;
}
.menu__ol {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.menu__ol .top_li {
  opacity: 0;
  animation: fadelist 1s 1s forwards;
}
.menu__ol .mid_li {
  opacity: 0;
  animation: fadelist 1s 1.5s forwards;
}
.menu__ol .bottom_li {
  opacity: 0;
  animation: fadelist 1s 2s forwards;
}
.menu__ol .bottomend_li {
  opacity: 0;
  animation: fadelist 1s 2.5s forwards;
}
.menu__ol__li__button {
  width: 95%;
  background-color: white;
  border-radius: 15px;
  border: 0px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}
.menu__ol__li__button__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__ol__li__button__content h3 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__ol__li__button__span {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding-top: 5px;
}
.menu__ol__li__button__span__subtitle {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__ol__li__button__span__prize {
  font-size: 15px;
  font-weight: 700;
}
.menu__ol__li__button__check {
  display: none;
  background-color: #99E2D0;
  padding-left: 2%;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  color: white;
  padding-right: 2%;
}
.menu__ol__li__button:hover .menu__ol__li__button__check {
  display: flex;
  animation: checkanimation 250ms ease-in-out;
  transform-origin: right;
}

@keyframes checkanimation {
  from {
    transform: scaleX(0%);
  }
  to {
    transform: scaleX(100%);
  }
}
@keyframes fadelist {
  to {
    opacity: 1;
  }
}
.order {
  text-align: center;
}
.order__button {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: transform 400ms ease-in-out, background 350ms 150ms ease-in-out;
  padding: 15px 40px;
}
.order__button:hover {
  transform: scale(1.03);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.32);
}

footer {
  background-color: #353535;
  padding-left: 25px;
  color: white;
}
footer .footer {
  padding-left: 0px;
  padding-bottom: 15px;
}
footer .footer__title {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
}
footer .footer__a {
  padding-bottom: 10px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}
footer .footer__icone {
  padding-right: 10px;
}
footer .footer__400 {
  font-weight: 400;
}
footer .fa-utensils {
  padding-right: 16px;
}

@media (min-width: 1024px) {
  .menu {
    margin-left: 15%;
    margin-right: 15%;
  }
  .menu__title {
    justify-content: center;
  }
  .menu__content {
    margin-left: 10%;
    margin-right: 10%;
  }
  footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  footer .footer {
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
  footer .footer__a {
    padding: 60px 5px 10px 5px;
  }
  footer .footer__padl {
    padding-left: 50px;
  }
  footer .footer__padr {
    padding-right: 90px;
  }
  footer .footer__titlesite {
    padding-right: 5%;
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=stylerestaurant.css.map */