* {
    font-family: 'Roboto' , sans-serif;
}

@import "../bases/variables";
@import "../bases/mixins";



.main-container {
    width: 100%;
    box-sizing: border-box;
}

*, ::before, ::after {
    margin: 0;
    padding: o;
}

// header
header {
    div {
        @include divCenter;
    justify-content: center;
    align-items: center;
    display: flex;
    } 
    img {
        @include imgheader;
    }
    a {
        position: absolute;
        left: 3%;
        text-decoration: none;
        color: black;
    }
    }
    


// image restaurant

.imgtop{
    object-fit: cover;
    width: 100%;
    height: 275px;
}

// menu
.menu   {
    position: relative;
    background-color: #F6F6F6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -35px;
    padding-left: 20px;
    padding-bottom: 30px;
    &__title{
        display: flex;
        align-items: center;
        padding-top: 40px;
        
    }
    h1 {
        font-family: shrikhand;
        font-weight: 400;
        font-size: 28px;
    }
    .card__content__heart{
        padding-left: 10%;
        font-size: 25px;
        @include hovheart;
    }

    @keyframes heartanimate {
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 16px;
        padding-top: 40px;
    }
    hr {
        height: 2px;
        width: 40px;
        border: none;
        background-color: $tertiary-color;
        margin-top: 5px;
    }
    &__ol {
        list-style: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;         
        .top_li {
            opacity: 0;
            animation: fadelist 1s 1s forwards;
        }
        .mid_li{
            opacity: 0;
            animation: fadelist 1s 1.5s forwards;
        }
        .bottom_li {
            opacity: 0;
            animation: fadelist 1s 2s forwards;
        }
        .bottomend_li {
            opacity: 0;
            animation: fadelist 1s 2.5s forwards;
        }
        &__li {
        &__button {
            width: 95%;
            background-color: white;
            border-radius: 15px;
            border: 0px;
            display: flex;
            flex-direction: row;
            box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
            margin-bottom: 12px;
            overflow: hidden;
            &__content {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            h3 {
                font-size: 18px;
                font-weight: 500;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            }
            &__span{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                padding-top: 5px;
                padding-right: 3%;
                &__subtitle {
                    font-size: 15px;
                    font-weight: 300;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &__prize {
                    font-size: 15px;
                    font-weight: 700;
                    margin-right: 3em;
                }
        
            }
            &__check {
                background-color: $tertiary-color;
                padding-left: 2%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0px 15px 15px 0px;
                color: white;
                padding-right: 2%;
                transition-duration: 0.5s;
                margin-right: -4em;
            }
            &:hover {
                .menu__ol__li__button__check{
                    margin-right: 0;
                    animation: checkanimation 250ms ease-in-out;
                    transform-origin: right;     
                }
            }
        }
    }
    } 
}

@keyframes checkanimation {
    from {
        transform: scaleX(0%);
    }
    to {
        transform: scaleX(100%)
    }
}

@keyframes fadelist {
    to {
        opacity: 1;
    }
}

// button commander
.order {
    text-align: center;
    &__button {
    @include hovbutton;
    padding: 15px 40px;
    
    }
  }


// footer
footer {
    @include mixfooter;
}

// desktop
@media (min-width:1024px) {
    .menu{
        margin-left: 15%;
        margin-right: 15%
    }
    .menu__title {
        justify-content: center;
    }
    .menu__content {
        margin-left: 10%;
        margin-right: 10%
    }
    footer {
        @include mixfooterdesktop;
    }
}


